body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
}
img {
  height: 80px;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 60%;
}
.nav {
  width: 40%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
}

.heading {
  padding: 25px 0;
  color: #fff;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
  color: #fff;
}
.navLink {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
}

.storeLogo {
  width: 20%;
  height: 90px;
}
.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}
